.My_profile_body{
    position: fixed;
    width: 375px;
    height: 100vh;
    max-height: 820px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.profile_back_button{
    position: absolute;
    top: 45px;
    left: 32px;
    width: 20%;
}
.profile_back_button>Nav{
    position: absolute;
    top: 10%;
    left: -20%;
    z-index: 1;
}
.profile_subtitle_container{
    display: flex;
    padding-left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 44px;
    /* identical to box height */
    color: #F0694F;
}

.My_profile_body>.img_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    align-items: center;
    margin-top: -60px;
}
.img_container>.ProfilePic{
    width: 184px;
}
.img_container>h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    text-align: center;
    color: #F0694F;
    margin-bottom: 12px;
    margin-top: 12px;
    }
.ratingstars{
    width: 36%;
}
.rating_value_container{
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #E80F5D;
}
.rating_value_container>img{
    width: 17px;
    height: 18px;
    margin-left: 4px;
    margin-top: -3px;
}
.buttons_container{
    display: flex;
    flex-direction: column;
    height: 35%;
    padding: 0;
    width: 70%;
    margin-top: 8px;
}

.buttons_container>a>button,
.buttons_container>button{
    border: none;
    width: 60%;
    text-align: start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F0694F;
}
.buttons_container>a>button{
    height: 50px;
    margin-bottom: 15px;
}



