:root {
    --background-color: linear-gradient(
      180deg,
      #ea4f32 0%,
      #f06b52 0.01%,
      #f45033 0.02%,
      #e80f5d 100%
    );
  
    --color-white: #fff;
    --text-color: #FFBABA;
  }


.login_or_signUp_page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.login_or_signUp_page>.slogan_container>img{
    padding-top: 51%;  
}

.login_or_signUp_page>.subtitle_container{
    width: 100%;
    padding-top: 11%;
    padding-left: 6%;
}
.login_or_signUp_page>.subtitle_container>h2{
    margin-bottom: 1%;
}

.login_or_signUp_page>.text_container{
    padding-top: -1%;
}

.login_or_signUp_page>.button_container{
    margin-top: 20%;
    height: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
}




/*+++++++++++++++++++++++++++++++++*/
/* LOGIN PAGE*/

.login_page{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0%;
    background: var(--background-color);
}

.login_page>.slogan_container>img{
    padding-top: 13.3%;
}

.login_page>.subtitle_container{
    height: 18.5%;
    width: 89%;
    margin-top: 9.7%;
    margin-left: 6%;
}

.login_page>.info_container{
    width: 350px;
    height: 17.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8%;
    margin-top: 8%
}

.login_page>.button_container{
    padding-bottom: 10%;
}
.login_page>.button_container>button{
    cursor: pointer;
}

.login_page>.social_info>.social_media{
    width: 100%;
    margin-bottom: 7%;
}

