:root {
    --background-color: linear-gradient(
      180deg,
      #ea4f32 0%,
      #f06b52 0.01%,
      #f45033 0.02%,
      #e80f5d 100%
    );
  
    --color-white: #fff;
    --color-secondary: #f0694f;
    --text-color: #FFBABA;
  
    --chat-bubble-theirs: #e9135c;
    --chat-bubble-theirs-border: #f0694f;
    --chat-bubble-yours: #e9135c;
  
    --notification-color: #e80f5d;
  
    --default-padding: 50px;
    --default-title-size: xxx-large;
    --default-subtitle-size: 26px;
  }


.login_or_signUp_page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.slogan_container>img{
    padding-top: 50%;  
}

.subtitle_container{
    width: 100%;
    padding-top: 11%;
    padding-left: 6%;
}
.subtitle_container>h2{
    margin-bottom: 1%;
}

.text_container{
    padding-top: -1%;
}

.login_or_signUp_page>.button_container{
    margin-top: 20%;
    height: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.button_container>.sign_in_b>button,
.button_container>button{
    width: 230px;
    height: 68px;
    background: transparent;
    border-radius: 40px;
    border: 2px solid var(--color-white);
    color: var(--color-white);
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
}

/* LOGIN PAGE*/

.login_page{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0%;
    background: var(--background-color);
}

.go-back{
    width: 104%;
    display: flex;
    padding-top: 6%;
    background: transparent;
    border: none;
}
.go-back>button{
    background: transparent;
    border: none;
    cursor: pointer;
}

.login_page>.slogan_container>img{
    padding-top: 15.6%;
}

.login_page>.subtitle_container{
    height: 18.5%;
    width: 89%;
    margin-top: -1.2%;
}

.info_container{
    width: 350px;
    height: 14.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8%;
}

.info_container>input{
    width: 83%;
    height: 40px;
    background: transparent;
    border-bottom: 1px solid var(--color-white);
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 4%;
}

.info_container>input:focus{
    outline: none;
}

.login_page>.button_container{
    padding-bottom: 10%;
}
.login_page>.button_container>button{
    cursor: pointer;
}

.login_page>.social_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: var(--text-color);
}
.login_page>.social_info>p{
    opacity: 0.7;
}

.login_page>.social_info>.social_media{
    width: 100%;
}
.login_page>.social_info>.social_media>img{
    cursor: pointer;
}

.gmail_icon{
    width: 20%;
}
.apple_icon{
    width: 15%;
    padding-bottom: 1%;
}
.facebook_icon{
    width: 18%;
}