:root {
    --background-color: linear-gradient(
      180deg,
      #ea4f32 0%,
      #f06b52 0.01%,
      #f45033 0.02%,
      #e80f5d 100%
    );
  
    --color-white: #fff;
    --color-secondary: #f0694f;
    --text-color: #FFBABA;
  }

.logo_page{
  width: 375px;
  height: 820px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
}
.text{
    width: 40%;
    position: absolute;
    top: 700px;
}


