.logo_page{
    width: 375px;
    height: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text{
    width: 40%;
    position:absolute;
    bottom: 8%;
}



