.swiper-item {
    width: 100%;
    flex-shrink: 0;
    height: auto;
    user-select: none;
  }
  
  /*Mobile*/
  @media (max-width: 1700px) {
    .swiper-item {
      width: 100%;
      object-fit: cover;
      user-select: none;
    }
  }
  