.swiper-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
}

.swiper-prev {
  left: 0;
}

.swiper-next {
  right: 0;
}

.logo_container{
  position: absolute;
  top: 3%;
  left: 76%;
}