/*FOR BOTH SWIPERS*/
.swiper-container {
  width: 375px;
  height: 820px;
  overflow: hidden;
  position: relative;
}
.swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
}

/*CSS FOR THE TUTORIAL SWIPER*/
@keyframes showButton {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/*Tutorial Buttons*/
.swiper-prev {
  position: absolute;
  top: 20px;
  left: 13px;
  border: none;
  width: 60px;
  animation-name: showButton;
  animation-duration: 1s;
  animation-fill-mode: forwards; /* keeps the button visible after the animation */
}

.swiper-next{
  position: absolute;
  bottom: 157px;
  left: 67px;
  animation-name: showButton;
  animation-duration: 1s;
  animation-delay: 0; /* delay the animation for 1 second */
  animation-fill-mode: forwards; /* keeps the button visible after the animation */
}
.go-to-last{
  animation-name: unshowButton;
  animation-duration: 1s;
  animation-delay: 0; /* delay the animation for 1 second */
  animation-fill-mode: forwards; /* keeps the button visible after the animation */
  position: absolute;
  top: 685px;
}



/*Logo Image*/
.logo_container{
  position: absolute;
  top: 35px;
  right: 25px;
  z-index: 1;
}
.logo_container>img{
  width: 75px;
}

.swiper-next[style*="none"] {
  display: flex;
}



/*CSS FOR THE QUESTIONAIRE SWIPER*/
.questionaire_nav{
  position: static;
  height: 0.1px;
  top: 0;
  width: 375px;
  display: flex;
  justify-content: space-between;
}



/*Questionaire BUTTONS*/
.swiper-to-prev{
  border: none;
  margin-left: 5px;
  margin-top: 16px;
  width: 60px;
  animation-name: showButton_questionaire;
  animation-duration: 1s;
  animation-fill-mode: forwards; /* keeps the button visible after the animation */
}
.swiper-to-next{
  border: none;
  opacity: 0.5;
}
.swiper-done{
  animation-name: showButton_questionaire;
  animation-duration: 2s;
  animation-fill-mode: forwards; /* keeps the button visible after the animation */
  margin-top: -270px;
}
@keyframes showButton_questionaire {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.swiper-slide.slide-0 .swiper-to-next,
.swiper-slide.slide-1 .swiper-to-next,
.swiper-slide.slide-2 .swiper-to-next{
  position: absolute;
  top: 632px;
  font-size: 16px;
}

/*Questionaire Page 4*/
.swiper-slide.slide-3{
  height: 820px;
  overflow: scroll;
}

.swiper-slide.slide-0 img{
  display: flex;
  position: absolute;
  top: 4px;
  right: 25px;
  margin-top: 31px;
}
.questionaire_img_container>img{
  width: 75px;
}
.swiper-slide.slide-1 .questionaire_img_container,
.swiper-slide.slide-2 .questionaire_img_container,
.swiper-slide.slide-3 .questionaire_img_container,
.swiper-slide.slide-4 .questionaire_img_container{
  margin-top: 33px;
  margin-right: 20px
}