/*FOR BOTH SWIPERS*/
.swiper-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
}

/*CSS FOR THE TUTORIAL SWIPER*/
@keyframes showButton {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.swiper-prev {
  position: absolute;
  top: 3.5%;
  left: 5%;
  border: none;
  width: 60px;

  animation-name: showButton;
  animation-duration: 1s;
  animation-fill-mode: forwards; /* keeps the button visible after the animation */
}

.swiper-next{
  position: absolute;
  bottom: 17%;
  left: 22.8%;

  animation-name: showButton;
  animation-duration: 1s;
  animation-delay: 0; /* delay the animation for 1 second */
  animation-fill-mode: forwards; /* keeps the button visible after the animation */
}

.go-to-last{
  animation-name: unshowButton;
  animation-duration: 1s;
  animation-delay: 0; /* delay the animation for 1 second */
  animation-fill-mode: forwards; /* keeps the button visible after the animation */
}

.logo_container{
  position: absolute;
  top: 3.5%;
  left: 75%;
}
.logo_container>img{
  width: 116%;
}

.swiper-next[style*="none"] {
  display: flex;
}






/*CSS FOR THE QUESTIONAIRE SWIPER*/
.questionaire_nav{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.swiper-to-prev{
  border: none;
  width: 60px;
  margin-left: 4%;
  margin-top: 7%;

  animation-name: showButton;
  animation-duration: 1s;
  animation-fill-mode: forwards; /* keeps the button visible after the animation */
}

.swiper-slide.slide-0 {
  height: 100vh;
}

.swiper-slide.slide-0 .swiper-to-next,
.swiper-slide.slide-1 .swiper-to-next,
.swiper-slide.slide-2 .swiper-to-next{
  position: absolute;
  top: 67%;
}
.swiper-slide.slide-3{
  height: 100vh;
  overflow: scroll;
}

.swiper-slide.slide-3 .swiper-prev{
  position: fixed;
  top: 0;
}

.swiper-slide.slide-0 img{
  display: flex;
  position: absolute;
  top: 1.4%;
  right: 5%;
  margin-top: 4%;
  width: 20%;
}

.questionaire_img_container>img{
  width: 120%;
}
.swiper-slide.slide-1 .questionaire_img_container,
.swiper-slide.slide-2 .questionaire_img_container,
.swiper-slide.slide-3 .questionaire_img_container,
.swiper-slide.slide-4 .questionaire_img_container{
  margin-top: 8%;
  margin-right: 8%
}