/*FOR BOTH SWIPERS*/
.swiper-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
}

/*CSS FOR THE TUTORIAL SWIPER*/

@keyframes showButton {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.swiper-prev {
  display: flex;
  position: absolute;
  top: 3.5%;
  left: 5%;
  border: none;
  width: 60px;

  animation-name: showButton;
  animation-duration: 1s;
  animation-delay: 0; /* delay the animation for 1 second */
  animation-fill-mode: forwards; /* keeps the button visible after the animation */
}

.swiper-next{
  position: absolute;
  bottom: 20%;
  left: 21.8%;

  animation-name: showButton;
  animation-duration: 1s;
  animation-delay: 0; /* delay the animation for 1 second */
  animation-fill-mode: forwards; /* keeps the button visible after the animation */
}

.go-to-last{
  animation-name: unshowButton;
  animation-duration: 1s;
  animation-delay: 0; /* delay the animation for 1 second */
  animation-fill-mode: forwards; /* keeps the button visible after the animation */
}

.logo_container{
  position: absolute;
  top: 3%;
  left: 76%;
}

.swiper-next[style*="none"] {
  display: flex;
}

