.login_page{
    width: 375px;
    height: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: var(--background-color);
}

.login_page>.slogan_container{
    margin-top: -67px;
}

.login_page>.subtitle_container{
    height: 16.5%;
    padding-top: 33px;
    padding-right: 192px;
}

.login_page>.info_container{
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 10px;

}





