.container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;

  }
  
.add_button_container{
    margin-top: 4%;
    width: 100%;
    height: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: end;

}
    
.add_input_button{
  border: 0;
  width: auto;
  position: sticky;
  height: 0;
  font-weight: 400;
  font-size: 15px;
  opacity: 0.4;
  margin-right: 72px;
  margin-top: 8px;
}

  
.new_input_container{
  height: auto;
  margin-top: 4%;
  width: 113%;
  display: flex;
  margin-left: 3%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

  .coluna { 
    display: flex;
    margin-bottom: 5px;
    width: 300px;
    margin-right: 130px;
    height: 50px;
  }
  
  .coluna input {
    padding: 5px;
    border: 1px solid #ccc;

    width: 95%;
    height: 16px;
    background: transparent;
    border-bottom: 1px solid var(--color-white);
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 4%;

    
  }

  .coluna input:focus {
    outline: none;
  }

  .coluna button {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 3px;
    background: transparent;
    color: #fff;
    cursor: pointer;
  }