:root {
    --background-color: linear-gradient(
      180deg,
      #ea4f32 0%,
      #f06b52 0.01%,
      #f45033 0.02%,
      #e80f5d 100%
    );
  
    --color-white: #fff;
    --text-color: #FFBABA;
}

/*Prev and Next Buttons do Swiper*/



.questionaire_page_1,
.questionaire_page_2,
.questionaire_page_3,
.questionaire_page_5{
  padding-left: 14%;
  padding-right: 14%;
  padding-top: 47%;
  color: var(--color-white);
  height: 97vh;
}

.questionaire_page_1>h1,
.questionaire_page_2>h1,
.questionaire_page_3>h1,
.questionaire_page_4>h1,
.questionaire_page_5>h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 44px;
}

.questionaire_page_1>h3,
.questionaire_page_2>h3,
.questionaire_page_3>h3{
  margin-bottom: 6%;
}

.button_container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.swiper-to-next{
  border: none;
  opacity: 0.5;
}



.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 13px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 100%;
}

.item {
  background-color: #ccc;
  padding: 10px;
  text-align: center;
  height: 120px;
  border: 2px solid var(--color-white);
  border-radius: 13%;
  background: transparent;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item>img {
  margin-bottom: 12%;
}

/*QUESTIONAIRE PAGE 2*/
.questionaire_page_2>.grid{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 33%;
}

/*QUESTIONAIRE PAGE 3*/
.questionaire_page_3>.info_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.questionaire_page_3>.info_container>input{
  width: 100%;
  margin-top: 3%;
}

/*QUESTIONAIRE PAGE 4*/
.questionaire_page_4{
  padding-left: 14%;
  padding-right: 14%;
  padding-top: 47%;
  color: var(--color-white);
  height: 111vh;
}
.questionaire_page_4>.grid{
  padding-bottom: 100%;
}

/*QUESTIONAIRE PAGE 5*/
.questionaire_page_5>.subtitle_container{
  margin-top: 60%;
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 44px;
  
}
.questionaire_page_5>.subtitle_container>h1{
  margin: 1%;
}
.questionaire_page_5>.button_container{
  padding-top: 20%;
}