:root {
    --background-color: linear-gradient(
      180deg,
      #ea4f32 0%,
      #f06b52 0.01%,
      #f45033 0.02%,
      #e80f5d 100%
    );
  
    --color-white: #fff;
    --text-color: #FFBABA;
}

.questionaire_page_1,
.questionaire_page_2,
.questionaire_page_5{
  padding-left: 35px;
  padding-top: 76px;
  color: var(--color-white);
  height: 820px;
  width: 375px;
  background: var(--background-color);
}


.questionaire_page_1>h1,
.questionaire_page_2>h1,
.questionaire_page_3>h1,
.questionaire_page_4>h1,
.questionaire_page_5>h1{
  margin-top: 80px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 44px;
}

.questionaire_page_1>h3,
.questionaire_page_2>h3,
.questionaire_page_3>h3{
  margin-bottom: 6%;
}



/*Grid css build*/
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 13px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 300px;
}
.item {
  background-color: #ccc;
  padding: 10px;
  text-align: center;
  height: 120px;
  border: 2px solid var(--color-white);
  border-radius: 13%;
  background: transparent;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item>img {
  margin-bottom: 12%;
}


/*QUESTIONAIRE PAGE 2 Grid*/
.questionaire_page_2>.grid{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 33%;
}




/*QUESTIONAIRE PAGE 3*/
.questionaire_page_3{
  padding-left: 35px;
  padding-top: 76px;
  color: var(--color-white);
  background: var(--background-color);
  height: 820px;
  width: 375px;
  overflow-y: scroll;
}
.questionaire_page_3>.info_container{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.questionaire_page_3>.info_container>input{
  width: 300px;
  margin-top: 3%;
}




/*QUESTIONAIRE PAGE 4*/
.questionaire_page_4{
  padding-left: 35px;
  padding-top: 76px;
  color: var(--color-white);
  background: var(--background-color);
  height: 1331px;
}
.questionaire_page_4>.grid>.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.questionaire_page_4>.grid>.item>img{
  margin: 0;
  margin-top: 10%;
}


.questionaire_page_4>.button_container{
  margin-top: -225px;
}



/*QUESTIONAIRE PAGE 5*/
.questionaire_page_5>.subtitle_container{
  margin-top: 60%;
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 44px;
  
}
.questionaire_page_5>.subtitle_container>h1{
  margin: 1%;
}
.questionaire_page_5>.button_container{
  margin-top: 66px;
  margin-left: -35px;
}