:root {
    --background-color: linear-gradient(
      180deg,
      #ea4f32 0%,
      #f06b52 0.01%,
      #f45033 0.02%,
      #e80f5d 100%
    );
  
    --color-white: #fff;
    --text-color: #FFBABA;
  }

.signUp_page{
  width: 375px;
  height: 820px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
}

.signUp_page>.slogan_container{
  margin-top: -67px;
}

.signUp_page>.subtitle_container{
  height: 16.5%;
  padding-top: 33px;
  padding-right: 91px;
}

.signUp_page>.info_container{
    width: 360px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
