:root {
    --background-color: linear-gradient(
      180deg,
      #ea4f32 0%,
      #f06b52 0.01%,
      #f45033 0.02%,
      #e80f5d 100%
    );
  
    --color-white: #fff;
    --text-color: #FFBABA;
}

.tutorial_page_1,
.tutorial_page_2,
.tutorial_page_3,
.tutorial_page_4,
.tutorial_page_5{
  padding-left: 11%;
  padding-right: 11%;
  padding-top: 15%;
  height: 78vh;
  overflow: scroll;
}

/*PAGES IMAGES*/
.img_container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 22%;
  margin-top: 22%;
}
.tutorial_page_4>.img_container{
  margin-bottom: 18%;
  margin-top: 20%;
}
.tutorial_page_4>.img_container>img{
  width: 28%;
}

.text_container{
  height: 40%;
  text-align: start;
}



/*ELLIPSE FROM ALL PAGES*/
/* Page 1 */
.ellipse_container{
  display: flex;
  justify-content: center;
  position: absolute;
}
.tutorial_page_1>.ellipse_container{
  left: 41%;
  bottom: 0.2%;
}
/* Page 2 */
.tutorial_page_2>.ellipse_container{
  left: 141.1%;
  bottom: 0.2%;
}
/* Page 3 */
.tutorial_page_3>.ellipse_container{
  width: 100%;
  left: 200%;
  bottom: 0.2%;
}

/* Page 4 */
.tutorial_page_4>.ellipse_container{
  width: 100%;
  left: 300%;
  bottom: -1.5%;
}




/*TUTORIAL PAGES*//**/
/*TUTORIAL PAGE 2*/
.tutorial_page_2>.subtitle_container{
  margin-top: 14%;
}
.tutorial_page_2>.text_container{
  height: 39.5%;
}

/*TUTORIAL PAGE 3*/
.tutorial_page_3>.subtitle_container{
  margin-top: 14.3%;
}

/*TUTORIAL PAGE 4*/
.tutorial_page_4>.subtitle_container{
  margin-top: 14.3%;
}
.tutorial_page_4>.text_container{
  height: 21%;
}
.tutorial_page_4>.button_container{
  width: 100%;
  display: flex;
  justify-content: center;
}

/*TUTORIAL PAGE 5*/
.tutorial_page_5>.subtitle_container{
  margin-top: 60%;
}
.tutorial_page_5>.subtitle_container>H2{
  margin: 0;
}
.tutorial_page_5>.text_container{
  opacity: 0.8;
  height: 13%;
  margin-left: 19px;
}
.tutorial_page_5>.button_container{
  width: 102%;
  display: flex;
  justify-content: center;
  align-items: center;
}