:root {
    --background-color: linear-gradient(
      180deg,
      #ea4f32 0%,
      #f06b52 0.01%,
      #f45033 0.02%,
      #e80f5d 100%
    );
  
    --color-white: #fff;
    --text-color: #FFBABA;
  }

.signUp_page{
  width: 100vw;
  height: 106vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.5%;
}
.signUp_page>.go-back{
  margin-left: 20px;
}

.signUp_page>.subtitle_container{
  height: 16.5%;
  padding-top: 10.4%;
  padding-right: 25%;
}

.signUp_page>.info_container{
    width: 350px;
    height: 18.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
    margin-top: 2%;
}

.signUp_page>.social_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
}

.signUp_page>.social_info>.social_media{
    width: 100%;


}

