:root {
    --background-color: linear-gradient(
      180deg,
      #ea4f32 0%,
      #f06b52 0.01%,
      #f45033 0.02%,
      #e80f5d 100%
    );
  
    --color-white: #fff;
    --text-color: #FFBABA;
  }

.signUp_page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.signUp_page>.go-back{
    width: 104%;
    display: flex;
    padding-top: 10%;
    padding-left: 3.5%;
    background: transparent;
    border: none;
}

.signUp_page>.slogan_container>img{
    padding-top: 10.3%;
}

.signUp_page>.subtitle_container{
    height: 16.5%;
    width: 89%;
    margin-top: 9.7%;
    margin-left: 4.7%;
}

.signUp_page>.info_container{
    width: 350px;
    height: 18.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
    margin-top: 2%;
}

.signUp_page>.social_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
}

.signUp_page>.social_info>.social_media{
    width: 100%;

}

.signUp_page>.social_info>.social_media>.gmail_icon{
    width: 20%;
}
.signUp_page>.social_info>.social_media>.apple_icon{
    width: 15%;
    padding-bottom: 1%;
}
.signUp_page>.social_info>.social_media>.facebook_icon{
    width: 18%;
}