@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --background-color: linear-gradient(
    180deg,
    #ea4f32 0%,
    #f06b52 0.01%,
    #f45033 0.02%,
    #e80f5d 100%
  );

  --color-white: #fff;
  --color-secondary: #f0694f;
  --text-color: #FFBABA;

  --chat-bubble-theirs: #e9135c;
  --chat-bubble-theirs-border: #f0694f;
  --chat-bubble-yours: #e9135c;

  --notification-color: #e80f5d;

  --default-padding: 50px;
  --default-title-size: xxx-large;
  --default-subtitle-size: 26px;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
}

.title_text{
  color: var(--color-white);
  font-size:var(--default-title-size);
  font-family: Inter;
}

.text,
.text_container{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  color: #FFBABA;
}

.subtitle_container{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: var(--default-subtitle-size);
  line-height: 44px;

  color: var(--color-white);
}