@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --background-color: linear-gradient(
    180deg,
    #ea4f32 0%,
    #f06b52 0.01%,
    #f45033 0.02%,
    #e80f5d 100%
  );

  --color-white: #fff;
  --color-secondary: #f0694f;
  --text-color: #FFBABA;

  --chat-bubble-theirs: #e9135c;
  --chat-bubble-theirs-border: #f0694f;
  --chat-bubble-yours: #e9135c;

  --notification-color: #e80f5d;

  --default-padding: 50px;
  --default-title-size: xxx-large;
  --default-subtitle-size: 26px;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
}

.title_text{
  color: var(--color-white);
  font-size:var(--default-title-size);
  font-family: Inter;
}

.text,
.text_container{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  opacity: 0.8;

  color: #FFBABA;
}

.subtitle_container{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: var(--default-subtitle-size);
  line-height: 44px;

  color: var(--color-white);
}

.info_container>input{
  width: 83%;
  height: 40px;
  background: transparent;
  border-bottom: 1px solid var(--color-white);
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 4%;
}

.info_container>input:focus{
  outline: none;
}

input{
  display: flex;
  text-align:center;
  color: var(--color-white);

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}
input::placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: var(--text-color);
}
input::placeholder:active{
  opacity: 0;
}
input::target-text{
  color: var(--color-white);
}
input:focus{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;

  color: var(--text-color);
}



/*SOCIAL MEDIA ICONS*/

.social_media{
  width: 100%;
}
.social_info{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: var(--text-color);
}
.social_info>p{
  opacity: 0.8;
}

.social_info>.social_media>.gmail_icon{
  width: 20%;
}
.social_info>.social_media>.apple_icon{
  width: 16%;
  padding-bottom: 1%;
}
.social_info>.social_media>.facebook_icon{
  width: 18%;
}
.gmail_icon,
.apple_icon,
.facebook_icon{
    cursor: pointer;
}



/*Slogan Container Height*/
.slogan_container>img{
  padding-top: 22.8%;
}

/*BUTTON CSS*/
/*Normal button*/
button{
  width: 230px;
  height: 68px;
  background: transparent;
  border-radius: 40px;
  border: 2px solid var(--color-white);
  color: var(--color-white);
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
}

/*Back button*/
.go-back{
  background: transparent;
  border: none;
  cursor: pointer;

  width: 100%;
  display: flex;
  padding-top: 10%;
  padding-left: 2%;
  background: transparent;
  border: none;
}
