.nav_container{
    width: 100vw;
    display: flex;
    justify-content: end;
    height: 50px;
    margin-top: 35px;
}

.nav_container>img{
    margin-right: 25px;
}

.menu_page>.subtitle_container>h2{
    position: absolute;
    width: 100px;
    height: 44px;
    left: 48px;
    top: 113px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */


    color: #F0694F;
}

.menu_page>.back-button{
    width: 20%;
}

.link_container{
    height: 200px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
    position: absolute;
    top: 32%;
    left: 12.5%;
}

.link_container a{
    width: 30%;
    text-decoration: none;
    color: #F0694F;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}