.nav_container{
    width: 100%;
    display: flex;
    justify-content: end;
    height: 50px;
    padding-top: 35px;
}

.nav_container>img{
    margin-right: 25px;
    width: 74px;
}


.menu_page.active {
    display: block;
  }

.menu_page>.subtitle_container>h2{
    position: absolute;
    width: 100px;
    height: 44px;
    left: 48px;
    top: 88px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    color: #F0694F;
}

.menu_page>.back-button{
    width: 20%;
    height: 50px;
    background: white;
    z-index: 1;
}

.link_container{
    height: 200px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
    position: absolute;
    top: 268px;
    left: 53px;
}

.link_container a{
    width: 30%;
    text-decoration: none;
    color: #F0694F;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}